* {
  margin: 0;
  padding: 0;
}
nav {
  margin: 0px;
  padding: 0px;
  width: 100%;
  max-height: 150px;
  height: 100%;
  border: 1px solid black;
  display: flex;
  justify-content: left;
}

nav ul {
  display: flex;
  gap: 10px
  

}

nav ul li {
  border: 1px solid blue;
  list-style: none;
  padding: 12px;
}

nav ul li a {
  text-decoration-line: none;
  color: black;
  font-size: 18px;
}

